.slider-item,
.event-item {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px #E9E9E9;
  border-radius: 10px;
}

.slider-item nobr,
.event-item nobr {
  display: inline-block;
}

.slider-item span,
.event-item span {
  font-family: MuseoSansCyrl_2;
}

.slider-item:nth-child(even),
.event-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.slider-item:nth-child(even) img,
.event-item:nth-child(even) img {
  border-radius: 0 10px 10px 0;
}

.slider-item img,
.event-item img {
  width: 750px;
  height: 435px;
  border-radius: 10px 0px 0 10px;
}

.slider-item-content,
.event-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px 15px 0px;
}

.slider-item-title,
.event-item-title {
  max-width: 90%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-family: MuseoSansCyrl_2;
  font-size: 1.5rem;
  padding: 0px 10px 0px 10px;
  margin-bottom: 25px;
}

.slider-item-txt,
.event-item-txt {
  max-width: 90%;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 25px;
  padding: 0 10px;
}

.container_about {
  max-width: 1170px;
  margin: 0 auto;
  overflow-x: hidden;
}

h5 {
  display: inline-block;
  margin-left: 25px;
}

.h3 {
  font-family: MuseoSansCyrl_2;
  font-size: 1.5rem;
  padding: 15px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h4 {
  font-family: MuseoSansCyrl_2;
  font-size: 1.5rem;
  padding: 0px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px 15px 15px;
}

.about_item1-content {
  padding: 0 15px 0px 0px;
}

.about_item1-title,
.about_item5-title {
  font-family: MuseoSansCyrl_2;
  font-size: 1.5rem;
  padding: 20px 0px 15px 15px;
}

.about_item1-txt,
.about_item5-txt,
.about_item6-txt {
  font-size: 1.3rem;
}

.about_item1-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_item1-img img {
  margin: 5px 0;
  width: 500px;
  height: 500px;
  border-radius: 5px;
}

.about_item1-img span {
  display: inline-block;
  margin: 0 auto;
  font-family: MuseoSansCyrl_2;
  font-size: 16px;
}

.about_item2,
.about_item5 {
  padding: 0px 15px 15px 15px;
}

.about_item2-img,
.about_item5-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about_item2-img img,
.about_item5-img img {
  width: 100%;
  border-radius: 5px;
  height: auto;
}

.about_item2-img span,
.about_item5-img span {
  font-family: MuseoSansCyrl_2;
  font-size: 1rem;
  display: inline-block;
  margin: 0 auto;
}

.about_item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0 15px;
}

.about_item3-content {
  padding-left: 10px;
}

.about_item3-title {
  padding: 20px 15px 15px 15px;
  font-family: MuseoSansCyrl_2;
  font-size: 1.5rem;
}

.about_item3-txt,
.about_item4-txt {
  font-size: 1.3rem;
  padding-left: 10px;
}

.about_item3-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_item3-img img {
  width: 500px;
  height: 700px;
  border-radius: 5px;
}

.about_item3-img span {
  font-family: MuseoSansCyrl_2;
  font-size: 16px;
}

.about_item4,
.about_item6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px 15px 15px;
}

.about_item4-title {
  font-family: MuseoSansCyrl_2;
  font-size: 1.5rem;
  padding: 0px 15px 0px 40px;
}

.about_item4-title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 0px 15px 25px;
}

.about_item4-txt {
  padding: 0px 10px 0px 0px;
}

.about_item4-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_item4-img img {
  width: 500px;
  height: 700px;
  border-radius: 5px;
}

.about_item4-img span {
  font-family: MuseoSansCyrl_2;
  font-size: 1rem;
}

.about_item5-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_item6 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about_item6 img {
  width: 500px;
  height: 500px;
  border-radius: 5px;
}

.about_item6-content {
  padding-left: 10px;
}

.about_item7,
.about_item9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px 15px 15px;
}

.about_item7 img,
.about_item9 img {
  width: 500px;
  height: 500px;
  border-radius: 5px;
}

.about_item8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0px 15px 15px 15px;
}

.about_item8 img {
  width: 500px;
  height: 500px;
  border-radius: 5px;
}

.about_item6-title,
.about_item8-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 15px 15px;
  font-family: MuseoSansCyrl_2;
  font-size: 1.5rem;
}

.about_item7-title,
.about_item9-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: MuseoSansCyrl_2;
  font-size: 1.5rem;
  padding: 0 15px 15px 0;
}

.about_item9-txt {
  padding-right: 15px;
  font-size: 1.3rem;
}

.burger {
  display: block;
}

.header_burger {
  display: none;
}

.header_burger span {
  position: absolute;
  background-color: #000;
  left: 0px;
  top: 9.5px;
  width: 100%;
  height: 1.5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_burger:before {
  content: '';
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 1.5px;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_burger:after {
  content: '';
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 1.5px;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header_burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header_burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header_burger.active {
  left: 75%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header_menu {
  display: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 75%;
  height: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  z-index: 5;
  padding-left: 20px;
  background: #FFF;
  -webkit-box-shadow: inset -25px 3px 21px -20px rgba(50, 50, 50, 0.12);
          box-shadow: inset -25px 3px 21px -20px rgba(50, 50, 50, 0.12);
  left: -100%;
}

.header_menu li {
  padding: 20px 0px;
  font-family: MuseoSansCyrl_1;
  font-size: 16px;
  border-bottom: solid 1px #E9E9E9;
}

.burger_down {
  margin-top: 0px;
}

.burger_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.icons_burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons_burger img {
  margin: 10px 10px 10px 10px;
}

.burger_item {
  padding: 10px;
}

.burger_item-title {
  font-family: MuseoSansCyrl_1;
  line-height: 25px;
  font-size: 12px;
}

.burger_item-content {
  font-family: MuseoSansCyrl_2;
  font-size: 18px;
}

.burger_item-content p {
  letter-spacing: 1.15px;
}

.burger_item-content span {
  color: #FF5900;
}

.burger_item-content a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #000;
}

.burger_item-content a:hover {
  color: #FF5900;
}

.header_menu.active {
  left: 0;
  -webkit-transition: all 0.3s ease 0;
  -o-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0;
}

#mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 0px;
  font-size: 16px;
}

#mail img {
  height: 15px;
  width: 15px;
  margin-right: 1px;
  margin-top: 1px;
}

.map_content {
  max-width: 770px;
  padding-top: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: MuseoSansCyrl_1;
}

.desc_title {
  font-size: 30px;
}

.color_description {
  margin: 10px 0px;
  font-size: 18px;
}

.green {
  padding: 10px 10px;
}

.green span {
  font-family: MuseoSansCyrl_2;
  color: green;
}

.yellow {
  padding: 10px 10px;
}

.yellow span {
  font-family: MuseoSansCyrl_2;
  color: rgba(255, 217, 0, 0.959);
}

.red {
  padding: 10px 10px;
}

.red span {
  font-family: MuseoSansCyrl_2;
  color: #ff5100;
}

.map {
  position: relative;
  z-index: 1;
}

li {
  margin-bottom: 5px;
  padding-left: 10px;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl.woff") format("woff"), url("../fonts/MuseoSansCyrl.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl_0";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl_0.woff") format("woff"), url("../fonts/MuseoSansCyrl_0.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl_3";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl_3.woff") format("woff"), url("../fonts/MuseoSansCyrl_3.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl_1";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl_1.woff") format("woff"), url("../fonts/MuseoSansCyrl_1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl_2";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl_2.woff") format("woff"), url("../fonts/MuseoSansCyrl_2.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  border-bottom: solid 1px #E9E9E9;
  border-top: solid 1px #E9E9E9;
  max-width: 100%;
}

.header_content {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.navbar {
  padding: 20px 20px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #000;
  font-family: MuseoSansCyrl_1;
}

.header2 {
  margin: 15px 0px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.icons img {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.icons img:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.header2_item {
  max-width: 100%;
  line-height: 28px;
}

.header2_item-title {
  font-family: MuseoSansCyrl_1;
}

.header2_item-content {
  font-family: MuseoSansCyrl_2;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header2_item-content:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.header2_item-content a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #000;
}

.header2_item-content a:hover {
  color: #FF5900;
}

.header2_item-content a span {
  color: #FF5900;
}

.telephones {
  display: none;
}

.telephones-item1,
.telephones-item2 {
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.telephones-item1-title,
.telephones-item2-title {
  font-size: 9px;
  font-family: MuseoSansCyrl_1;
}

.telephones-item1-content,
.telehones-item2-content {
  font-family: MuseoSansCyrl_2;
  font-size: 13px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.telephones-item1-content:hover,
.telehones-item2-content:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.telephones-item1-content a,
.telehones-item2-content a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #000;
}

.telephones-item1-content a:hover,
.telehones-item2-content a:hover {
  color: #FF5900;
}

.telephones-item1-content a span,
.telehones-item2-content a span {
  color: #FF5900;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  font-family: MuseoSansCyrl_0;
}

body.lock {
  overflow: hidden;
}

a {
  color: #000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  color: #FF5900;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.foodnav {
  border-top: solid 2px;
  border-bottom: solid 2px;
}

.foodnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 28px 25px 28px 0px;
  font-family: MuseoSansCyrl_1;
}

.foodnav a {
  color: black;
}

.foodnav a:hover {
  color: #FF5900;
}

.main {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main.active {
  -webkit-transform: translateX(75%);
      -ms-transform: translateX(75%);
          transform: translateX(75%);
}

@media (max-width: 1188px) {
  .header2_item-content {
    font-size: 18px;
  }
}

@media (max-width: 1170px) {
  .slider-item,
  .event-item {
    margin: 20px 15px;
  }

  .slider-item img,
  .event-item img {
    width: 600px;
    height: 350px;
  }

  .map {
    width: 950px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .slider-item-title,
  .event-item-title {
    margin-bottom: 25px;
    font-size: 22px;
  }
}

@media (max-width: 980px) {
  .about_item1-img span {
    font-size: 12px;
  }
}

@media (max-width: 960px) {
  .header2 {
    padding: 0 5px;
  }

  .icons img {
    width: 25px;
    height: 25px;
  }

  .header2_item {
    font-size: 14px;
  }

  .header2_item-content {
    font-size: 17px;
  }
}

@media (max-width: 950px) {
  .about_item6 img {
    width: 400px;
    height: 400px;
  }

  .about_item7 img,
  .about_item9 img {
    width: 400px;
    height: 400px;
  }

  .about_item8 img {
    width: 400px;
    height: 400px;
  }

  .map {
    width: 776px;
  }
}

@media (max-width: 860px) {
  .slider-item img,
  .event-item img {
    width: 500px;
    height: 300px;
  }

  .header2_item {
    font-size: 12px;
  }

  .header2_item-content {
    font-size: 14px;
  }
}

@media (max-width: 776px) {
  .slider-item img,
  .event-item img {
    width: 450px;
    height: 300px;
  }

  .slider-item-title,
  .event-item-title {
    font-size: 18px;
  }

  .slider-item-txt,
  .event-item-txt {
    line-height: 18px;
  }

  h5 {
    margin-left: 10px;
  }

  .h3 {
    font-size: 1.5rem;
    padding: 15px 15px 0px 15px;
  }

  .h4 {
    font-size: 1rem;
    padding: 15px 15px 15px 15px;
  }

  .about_item1 {
    padding: 0px 15px 0px 15px;
  }

  .about_item1-img img {
    width: 400px;
    height: 400px;
  }

  .about_item2,
  .about_item5 {
    padding: 0px 15px 0px 15px;
  }

  .about_item3-txt,
  .about_item4-txt {
    font-size: 1rem;
  }

  .about_item3-img img {
    width: 380px;
    height: 450px;
  }

  .about_item4,
  .about_item6 {
    padding: 0px 15px 0 15px;
  }

  .about_item4-img img {
    width: 380px;
    height: 450px;
  }

  .about_item5 {
    padding: 0px 15px 0px 15px;
  }

  .about_item6-title,
  .about_item8-title {
    font-size: 1rem;
  }

  .about_item7-title,
  .about_item9-title {
    font-size: 1rem;
    right: 19%;
  }

  .about_item9-txt {
    font-size: 1rem;
  }

  .about_item1-txt,
  .about_item5-txt,
  .about_item6-txt {
    font-size: 1rem;
  }

  .header_burger {
    display: block;
    position: relative;
    z-index: 1;
    left: 15px;
    top: 15px;
    width: 30px;
    height: 20px;
    top: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header_menu {
    display: block;
  }

  .map_content {
    padding-top: 10px;
  }

  .color_description {
    font-size: 12px;
  }

  .map {
    width: 426px;
  }

  .header {
    margin-top: 50px;
  }

  .header_content {
    font-size: 12px;
  }

  .navbar {
    padding: 10px 10px 5px 10px;
  }

  .header2 {
    margin: -40px 0px 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header2_item {
    display: none;
  }

  .header2_item:nth-child(1) {
    display: block;
    margin-top: 80px;
  }

  .telephones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 680px) {
  .slider-item-title,
  .event-item-title {
    margin-bottom: 8px;
    font-size: 15px;
  }

  .about_item1-content {
    padding: 0;
  }

  .about_item1-img img {
    width: 100%;
    height: auto;
  }

  .about_item2-img span,
  .about_item5-img span {
    font-size: 12px;
  }

  .about_item3-img img {
    width: 250px;
    height: 300px;
  }

  .about_item3-img span {
    font-size: 12px;
  }

  .about_item4-img img {
    width: 250px;
    height: 300px;
  }

  .about_item4-img span {
    font-size: 12px;
  }

  .about_item6 img {
    width: 300px;
    height: 300px;
  }

  .about_item7 img,
  .about_item9 img {
    width: 300px;
    height: 300px;
  }

  .about_item8 img {
    width: 300px;
    height: 300px;
  }

  .about_item9-txt {
    font-size: 10px;
  }

  .about_item1-txt,
  .about_item5-txt,
  .about_item6-txt {
    font-size: 10px;
  }

  .about_item1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .slider-item img,
  .event-item img {
    width: 380px;
    height: 250px;
  }
}

@media (max-width: 560px) {
  .header2_item {
    padding: 10px 20px;
  }
}

@media (max-width: 550px) {
  .about_item6 img {
    width: 150px;
    height: 150px;
  }

  .about_item7 img,
  .about_item9 img {
    width: 150px;
    height: 150px;
  }

  .about_item8 img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 530px) {
  .h4 {
    font-size: 1rem;
  }

  .about_item7-title,
  .about_item9-title {
    right: 12%;
  }
}

@media (max-width: 512px) {
  .about_item3-txt,
  .about_item4-txt {
    font-size: 10px;
  }

  .about_item1-img span {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .slider-item img,
  .event-item img {
    width: 300px;
    height: 200px;
  }

  .slider-item-content,
  .event-item-content {
    padding: 5px 0px 5px 0px;
  }

  .slider-item-title,
  .event-item-title {
    font-size: 0.8rem;
  }

  .slider-item-txt,
  .event-item-txt {
    font-size: 0.5rem;
    line-height: 10px;
  }
}

@media (max-width: 450px) {
  .slider-item img,
  .event-item img {
    width: 220px;
    height: 140px;
  }

  .about_item9-title {
    right: 15%;
  }
}

@media (max-width: 430px) {
  .event-item img {
    height: 100%;
  }

  .about_item2-img span,
  .about_item5-img span {
    font-size: 8px;
  }

  .about_item3-content {
    padding-left: 0;
  }

  .about_item3-title {
    padding: 20px 20px 15px 15px;
  }

  .about_item3-img img {
    width: 160px;
    height: 220px;
  }

  .about_item3-img span {
    font-size: 8px;
  }

  .about_item4-title {
    padding: 20px 15px 0px 20px;
  }

  .about_item4-img img {
    width: 160px;
    height: 220px;
  }

  .about_item4-img span {
    font-size: 8px;
  }
}

@media (max-width: 426px) {
  .about_item2-img img,
  .about_item5-img img {
    height: 240px;
  }
}

@media (max-width: 400px) {
  .about_item1-img span {
    font-size: 8px;
  }

  .color_description {
    font-size: 10px;
  }
}

@media (max-width: 376px) {
  .about_item2-img img,
  .about_item5-img img {
    height: 220px;
  }
}

@media (max-width: 350px) {
  .telephones-item1-content a,
  .telehones-item2-content a {
    font-size: 10px;
  }
}

@media (max-width: 330px) {
  .header_content {
    font-size: 11px;
  }

  .navbar {
    padding: 20px 10px;
  }
}

@media (max-width: 321px) {
  .about_item2-img img,
  .about_item5-img img {
    height: 190px;
  }
}

@media (max-width: 320px) {
  .about_item6 img {
    width: 140px;
    height: 140px;
  }

  .about_item7 img,
  .about_item9 img {
    width: 140px;
    height: 140px;
  }

  .about_item8 img {
    width: 140px;
    height: 140px;
  }
}